
Contours/.ipynb_checkpoints/medicinebows-checkpoint.ipynb
Gridding/.ipynb_checkpoints/Gridding gravity data-checkpoint.ipynb
Well log plots/.ipynb_checkpoints/README-checkpoint.md
Well log plots/.ipynb_checkpoints/gamma ray colors-checkpoint.ipynb
Contours/medbows.tif.ovr
Contours/medbows.tif
Turner Sandstone/.ipynb_checkpoints/turner-checkpoint.ipynb
Contours/medbows.tif
Turner Sandstone/.ipynb_checkpoints/Turner data munging-checkpoint.ipynb
Turner Sandstone/.ipynb_checkpoints/Turner predictions-checkpoint.ipynb
